.main_Tab_Item{
	color : white;
	margin : 0px 15px 0px 15px;
	/*float : left;*/
}

.main_Tab_Div1{
	margin : 0px 250px 0px 250px;
}

.main_Tab_Div2{
	display : flex;
}

.main_Tab_Div3{
	margin : 0px 150px 0px 150px;
	display : flex;
}

.main_Tab_Div3 img{
	margin : 0px 10px 0px 10px;
}

.main_Tab_Container{
	display : flex;
	align-items : center;
	height : 60px;
	background-color : black;
}

.test{
	position : relative;
	top : 0px;
	left : 0px;
}

.testtext1{
	position : absolute;
	top : 50px;
	left : 400px;
	margin : 0px;
	font-size : 3.5rem;
	color : white;
}

.testtext2{
	position : absolute;
	top :200px;
	left : 400px;
	margin : 0px;
	color : white;
	font-size : 2rem;
	font-weight : normal;
}

body{
	margin : 0;
}
